/* Reset some default styles and set a background color */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
   }

/* Style the header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    margin-top: 20px;
}

/* Style the sections */
section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
}

#contact{ 
    text-align: center;
    background-color: #755c5c;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(56, 56, 56, 0.1);

}

/* Style the footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
