.footer {
  color: #fff;
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 3rem;
}

.footer .box-container .box h3{
   color:var(--white);
   font-size: 2rem;
   padding-bottom: 2rem;
}

.footer .box-container .box a{
   color:var(--light-white);
   font-size: 1rem;
   padding-bottom: 1.5rem;
   display: block;
   text-transform: lowercase;
}

.footer .box-container .box a i{
   color:var(--main-color);
   padding-right: .5rem;
   transition: .2s linear;
}

.footer .box-container .box a:hover i{
   padding-right: 2rem;
}

.footer .box-container .box a:hover {
  color: rgb(247, 168, 0);
}

.footer .credit{
   text-align: center;
   padding-top: 3rem;
   margin-top: 3rem;
   border-top: .1rem solid #fff9;
   font-size: 2rem;
}

.footer .credit span{
   color: rgb(247, 168, 0);
}

.footer .credit span:hover{
   color: #fff;
   font-size: 2.3rem;
}
