
/* services */

#services {
  display: block;

  background-color: #152238;
  padding: 80px 20px;
  text-align: center;
  color: #fff;
}

#services h2 {
  font-size: 36px;
  margin: 0;
}

#services ul {
  display: grid;
  /* grid-template-columns: 100px 250px 100px 100px; */
  grid-template-columns: ;
  column-gap: 30px;
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

#services li {
  margin-bottom: 40px;
}

#services h3 {
  font-size: 24px;
  margin: 0;
}

#services p {
  margin-top: 10px;
}

/* #services .cta-button {
  font-size: .5rem;
  display: inline-block;
  padding: 7px 15px;
  background-color: #f9f5f2;
  color: #152238;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
} */