
* {
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: none;
}

html {
  overflow-x: hidden;
}

html::-webkit-scrollbar{
  width: 0.5rem;
}

html::-webkit-scrollbar-track{
  background-color: #fff;
}

html::-webkit-scrollbar-thumb{
  background-color: rgb(247, 168, 0);
}



body {
  background-color: #152238;
}

.btn {
  background-color: rgb(247, 168, 0);
  color: #fff;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: .6rem;
  padding-bottom: .6rem;
  border-radius: 7px;
  text-decoration: none;
  font-size: 1.5rem;
} 

.btn:hover {
  background-color: transparent;
  border-color: rgb(247, 168, 0);
}

section {
  padding:5rem 10%;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #152238;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: var(--box-shadow);
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  text-transform: capitalize;
  font-size: 1.9rem;
  color: #fff;
}

.header .navbar a {
  font-size: 1.5rem;
  margin-left: 2rem;
  color: #fff;
}

.header .navbar a:hover {
  color: rgb(247, 168, 0);
}

#menu-btn{
  font-size: 2.5rem;
  cursor: pointer;
  color: #000;
  display: none;
}



#intro {
  background-size: cover !important;
  background-position: center !important;
  padding-top: 10rem;
  padding-bottom:15rem;
  display: block;
  align-items: center;
  justify-content: center;
  animation: fadeIn .5s linear backwards .5s;
}

.aos {
  display: block;
  padding-top: 10rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 0;
}

.aos h2 {
  font-size: 6.5rem;
  /* margin: 15px; */
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 1.5rem 3rem rgba(0,0,0,.3);
}

.aos p {
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 1.5rem 3rem rgba(0,0,0,.3);
  text-transform: none;
}

.aos-body {
  display: block;
  padding-left: 10rem;
}

.aos-body p {
  color: #fff;
  font-size: 2rem;
  font-weight: 20px;
  /* margin: 25px; */
  margin-bottom: 35px;
}






#about {
  background-color: #fff;
  padding: 8rem;
  border-radius: 9px;
  text-align: center;
  color: #152238;
}

#about h2 {
  font-size: 36px;
  margin: 0;
}

#about p {
  font-size: 18px;
  margin-top: 10px;
}



/* services */

#services {
  display: block;

  background-color: #152238;
  padding: 80px 20px;
  text-align: center;
  color: #fff;
}

#services h2 {
  font-size: 36px;
  margin: 0;
}

#services ul {
  display: grid;
  /* grid-template-columns: 100px 250px 100px 100px; */
  grid-template-columns: ;
  column-gap: 30px;
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

#services li {
  margin-bottom: 40px;
}

#services h3 {
  font-size: 24px;
  margin: 0;
}

#services p {
  margin-top: 10px;
}

/* #services .cta-button {
  font-size: .5rem;
  display: inline-block;
  padding: 7px 15px;
  background-color: #f9f5f2;
  color: #152238;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
} */



#team {
  background-color: #f9f5f2;
  padding: 80px 20px;
  text-align: center;
  color: #152238;
}

#team h2 {
  font-size: 36px;
  margin: 0;
}

#team ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

#team li {
  display: inline-block;
  width: auto;
  margin: 20px;
}

#team img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

#team h3 {
  font-size: 27px;
  margin: 10px 0;
}

#team p {
  margin: 0;
}



#contact {
  background-color: #f9f5f2;
  padding: 80px 20px;
  text-align: center;
  color: #152238;
}

#contact h2 {
  font-size: 36px;
  margin: 0;
}

#contact form {
  margin-top: 40px;
}

#contact p {
  font-size: 18px;
  margin: 20px;
  text-transform: none;
}

#contact a {
  color: #152238;
  text-decoration: none;
}


#contact input {
  padding: 0.7rem;
  border-radius: 7px;
  background-color: rgb(238, 210, 150);
  margin: 10px;
}

#contact button {
  margin: 15px;
  background-color: #152238;
}

footer {
  font-size: 1.1rem;
  padding: 3rem;
  /* padding-top: 85px;
  padding-bottom: 35px; */
  height: 160px;
  background-color: #152238;
  color: #fff;
  text-align: center;
}

footer nav ul {
  list-style: none;
  /* margin: 0; */
  padding: 0;
}

footer nav ul li {
  display: inline-block;
  margin-right: 10px;
}

footer nav ul li a {
  color: #fff;
  text-decoration: none;
}

footer p {
  margin: 15px;
}

