
* {
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: none;
}

html {
  overflow-x: hidden;
}

html::-webkit-scrollbar{
  width: 0.5rem;
}

html::-webkit-scrollbar-track{
  background-color: #fff;
}

html::-webkit-scrollbar-thumb{
  background-color: rgb(247, 168, 0);
}



body {
  background-color: #152238;
}

.btn {
  background-color: rgb(247, 168, 0);
  color: #fff;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: .6rem;
  padding-bottom: .6rem;
    border-radius: 7px;
  text-decoration: none;
  font-size: 1.5rem;
  cursor: pointer; 
  transition: background-color .3s ease-in-out;
} 

.btn:hover {
  background-color: transparent;
  color: rgb(247, 168, 0);
  background-color: #fff;
}

section {
  padding:5rem 10%;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #152238;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: var(--box-shadow);
  align-items: center;
  justify-content: space-between;
}

.header .logo:hover {
  letter-spacing: 15px;
  transition: .3s ease-in-out;
  margin-left: 3px;
}

.header .logo {
  text-transform: capitalize;
  font-size: 1.9rem;
  color: #fff;
}

.header .navbar a {
  font-size: 1.5rem;
  margin-left: 2rem;
  color: #fff;
}

.header .navbar a:hover {
  color: rgb(247, 168, 0);
}

#menu-btn{
  font-size: 2.5rem;
  cursor: pointer;
  color: #000;
  display: none;
}



#intro {
  background-size: cover !important;
  background-position: center !important;
  padding-top: 10rem;
  padding-bottom:15rem;
  display: block;
  align-items: center;
  justify-content: center;
  animation: fadeIn .5s linear backwards .5s;
}

.aos {
  display: block;
  padding-top: 10rem;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 0;
}

.aos h2 {
  font-size: 6.5rem;
  /* margin: 15px; */
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 1.5rem 3rem rgba(0,0,0,.3);
}

.aos p {
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 1.5rem 3rem rgba(0,0,0,.3);
}

.aos-body {
  display: block;
  padding-left: 10rem;
}

.aos-body p {
  color: #fff;
  font-size: 2rem;
  font-weight: 20px;
  /* margin: 25px; */
  margin-bottom: 35px;
}






#about {
  background-color: #fff;
  padding: 8rem;
  border-radius: 9px;
  text-align: center;
  color: #152238;
}

#about h2 {
  font-size: 36px;
  margin: 0;
}

#about p {
  font-size: 18px;
  margin-top: 10px;
}






#team {
  background-color: #f9f5f2;
  padding: 80px 20px;
  text-align: center;
  color: #152238;
}

#team h2 {
  font-size: 36px;
  margin: 0;
}

#team ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

#team li {
  display: inline-block;
  width: auto;
  margin: 20px;
}

#team img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

#team img:hover {
  transition: .2s linear;
  transform: scale(1.1);
}

#team h3 {
  font-size: 27px;
  margin: 10px 0;
}

#team p {
  font-size: 18px;
  margin: 0;
}



#contact {
  background-color: #f9f5f2;
  padding: 80px 20px;
  text-align: center;
  color: #152238;
}

#contact h2 {
  font-size: 36px;
  margin: 0;
}

#contact form {
  margin-top: 40px;
}

#contact p {
  font-size: 18px;
  margin: 20px;
  text-transform: none;
}

#contact a {
  color: #152238;
  text-decoration: none;
}


#contact input {
  padding: 0.7rem;
  border-radius: 7px;
  background-color: rgb(238, 210, 150);
  margin: 10px;
}







#contact button {
  margin: 15px;
  background-color: #152238;
  transition: background-color .3s ease-in-out;
}

#contact button:hover {
  background-color: rgb(247, 168, 0);
  color: #fff;
}



.footer {
  color: #fff;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
}

.footer .box-container .box h3 {
  color: var(--white);
  font-size: 2rem;
  padding-bottom: 2rem;
}

.footer .box-container .box a {
  color: var(--light-white);
  font-size: 1rem;
  padding-bottom: 1.5rem;
  display: block;
  text-transform: lowercase;
}

.footer .box-container .box a i {
  color: var(--main-color);
  padding-right: .5rem;
  transition: .2s linear;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a:hover {
  color: rgb(247, 168, 0);
}

.footer .credit {
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: .1rem solid #fff9;
  font-size: 2rem;
}

.footer .credit span {
  color: rgb(247, 168, 0);
}

.footer .credit span:hover {
  color: #fff;
  letter-spacing: 15px;
  transition: .3s ease-in-out;
  margin-left: 3px;
}


